@model IEnumerable<RedSocialFinal.Models.Comentario>
@{
    ViewData["Title"] = "Comentarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Comentarios</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.contenido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.post)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.contenido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.post.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usuario.id)
            </td>
            <td>  
                <a asp-action="PostAmigos" class="btn btn-outline-primary">Volver a publicaciones</a>
            </td>
        </tr>
}
    </tbody>
</table>
