
@model IEnumerable<RedSocialFinal.Models.Post>

@{
    ViewData["Title"] = "MisPublicaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Mis Publicaciones</h1>

<p>
    <a asp-action="Postear">Crear Post</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.contenido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.reacciones)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.usuario.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contenido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                @Html.FormatValue(item.reacciones.Count(),"")
            </td>
            <td>
                <a asp-action="Comentar" asp-route-id="@item.id">Comentar</a> |
                <a asp-action="Comentarios" asp-route-id="@item.id">Comentarios</a> |
                <a asp-action="ModificarPost" asp-route-id="@item.id">Modificar</a> |
                <a asp-action="EliminarPost" asp-route-id="@item.id">Eliminar</a>
                
            </td>
        </tr>
}
    </tbody>
</table>
