
@model IEnumerable<RedSocialFinal.Models.Post>

@{
    ViewData["Title"] = "MisPublicaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Mis Publicaciones</h1>

<div class="col-md-4 align-items-center">
    <a asp-action="Postear" class="btn btn-primary">Crear Post</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.contenido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.reacciones)
            </th>
            <th>
               <span>Tags</span>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.usuario.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contenido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                @Html.FormatValue(item.reacciones.Count(),"")
            </td>
            <td>
                @foreach (var i in item.Tags)
                {
                <span>#@Html.DisplayFor(modelItem => i.palabra) </span>
                }
            </td>
            <td>
                <a asp-action="Comentar" asp-route-id="@item.id" class="btn btn-outline-primary ms-2">Comentar</a> 
                <a asp-action="Comentarios" asp-route-id="@item.id" class="btn btn-outline-primary ms-2">Comentarios</a> 
                <a asp-action="ModificarPost" asp-route-id="@item.id" class="btn btn-outline-primary ms-2">Modificar</a> 
                <a asp-action="AgregarTag" asp-route-id="@item.id" class="btn btn-outline-primary ms-2">Agregar Tag</a> 
                <a asp-action="EliminarPost" asp-route-id="@item.id"class="btn btn-outline-danger ms-2">Eliminar</a>
                
            </td>
        </tr>
}
    </tbody>
</table>
