@model IEnumerable<RedSocialFinal.Models.Post>


@{
    ViewData["Title"] = "PostAmigos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1>Posts de Amigos</h1>

<div class="col-md-4 align-items-center">
    <a asp-action="Postear" class="btn btn-primary">Crear Post</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.contenido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.reacciones)
            </th>
            <th>
               <span>Tags</span>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.usuario.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contenido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                @Html.FormatValue(item.reacciones.Count(),"")
            </td>
            <td>
                @foreach (var i in item.Tags)
                {
                <span>#@Html.DisplayFor(modelItem => i.palabra) </span>
                }
            </td>
            <td class="d-flex">
                <a asp-action="Comentar" asp-route-id="@item.id" class="btn btn-info ms-3 me-3">Comentar</a> 
                <a asp-action="Comentarios" asp-route-id="@item.id" class="btn btn-outline-info ms-3 me-3">Comentarios</a> 
                <form asp-action="Reaccionar" >
                    <input type="hidden" name="idPost" asp-for="@item.id"/>
                    <input type="submit" value="Me gusta" class="btn btn-primary ms-3 me-3" />
                </form>
                <form asp-action="EliminarReaccion" >
                    <input type="hidden" name="idPost" asp-for="@item.id"/>
                    <input type="submit" value="Ya no me gusta" class="btn btn-outline-primary" />
                </form>
            </td>
        </tr>
}
    </tbody>
</table>


